@media (max-width: 1200px) {
    .movie-card{
        max-width: calc(40%- 0.6rem);
    }
}
@media (min-width: 715px) {
    .scroll-in{
        display: none;
    }
}
@media (max-width: 714px){
    body{
        margin: 0.7rem;
        width: auto;
    }
    .side-bar{
        /* display: none; */
        width:10rem;
        /* transform: translateX(-100%); */
        z-index: 1;
        padding-top: 0rem;
    }
    .seclogo{
        margin-top: 0;
    }

    .scroll-in{
        display: block;
        width: 11.5rem;
        height: 2rem;
        box-shadow: 0 0 6px rgb(0, 0, 0, 0.3);
        border: none;
        border-radius: 15px;
        background-color: var(--bocolor);
        margin-top: 0;
        margin-bottom: 2rem;
        padding-left: 9rem;
        z-index: 1;
    }
    .main-page{
        width: 100%;
        margin-left: 0;
        margin-top: 1.5rem;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    header{
        height: 27rem;
    }
    .movie-banner{
        background-size: contain;
    }
    nav{
        padding: 1rem 2rem;
    }
    .logo{
        margin-right: 1rem;
    }
    .search-box{
        width: 23rem;
        margin-right: 2rem;
        height: 2rem;
    }
    .movie-banner-collection{
        padding: 3.4rem 1rem 4rem 0;
    }
    .movie-preview h1{
        font-size: 2rem;
    }
    section{
        margin: 2rem;
    }
}