*{
    box-sizing: border-box;
    --bocolor : #fff;
    --grey :#D1D5DB;
    --pri-color: #111827;
    --sec-color: #9CA3AF;
    --but-color: #be123c;
    --secbut-color: rgba(190, 18, 60, 0.2);
    font-family: DM sans;
    margin: 0;
    padding: 0;
}
.playlet{
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
}
.side-bar{
    width: 10.76rem;
    height: 100vh;
    background-color: var(--bocolor);
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.3);
    border-right: 1px solid var(--grey);
    border-radius: 0 1.7rem 1.7rem 0;
    padding-top: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.seclogo{
    padding-left: 0.95rem;
    margin: 0.6rem 0;
    margin-bottom: 3rem;
}

#logotext #logo{
    font-size: 1.1rem;
    font-weight: 800;
    margin-left: 0.365rem;
    color: var(--pri-color);
}
.side-menu{
    display: block;
    margin-top: 1rem;
}
.menu-item{
    display: flex;
    align-items: center;
    height: 4rem;
    gap: 1rem;
    padding-left: 2.2rem;
    cursor: pointer;
}
.menu-item:hover{
    background-color: var(--secbut-color);
}
.menu-item:active{
    background-color: var(--secbut-color);
}
.menu-item-img{
    width: 1.3rem;
    height: 1.2rem;
}
.menu-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-item p{
    font-size: 0.867rem;
    font-weight: 600;
    color: var(--sec-color);
}
.active{
    border-right: 3px solid var(--but-color);
    background-color: var(--secbut-color);
}
.active p{
    color:  var(--but-color);
}
.bar{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1.6rem;
}
.bar-text{
    width: 7.654rem;
    height: 10.56rem;
    border: 1px solid var(--but-color);
    border-radius: 8px;
    background-color: #F8E7EB;
    padding: 0 0.5rem;
    padding-top: 2.3rem;
}
.bar-text h3{
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--pri-color);
}
.bar-text p{
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--sec-color);
    margin-top: 0.5rem;
}
.qiuz-button{
    display: grid;
    justify-content: center;
    margin-top: 0.5rem;
}
.qiuz-button button{
    width: 5rem;
    height: 1.4rem;
    border-radius: 9px;
    background-color: var(--secbut-color);
    border: none;
    color: var(--but-color);
    font-size: 0.6rem;
    font-weight: 700;
    cursor: pointer;
}
.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.bar-icon-img{
    width: 1rem;
    height: 1.3rem;
}
.bar-icon-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logout h3{
    font-size: 0.867rem;
    font-weight: 600;
    color: var(--sec-color);
}
.main-page{
    width: 69.5rem;
    /* margin-right: 1.8rem; */
    margin-top: 1.6rem;
    margin-left: 13rem;
}
.movie-play{
    width:100%;
    height: 20rem;
    display: flex;
}
.movie-play img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: relative; */
}
.play-logo{
    justify-content: center;
    align-self: center;
    background-color: #d1d5db66;
    position: absolute;
    right: 34.8rem;
    width: 4rem;
    display: grid;
    border-radius: 50%;

}
.play-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-content{
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: space-between;
}
.preview{
    width: 46rem;
}
.movie-title{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.movie-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.25rem;
    color: var(--pri-color);
}
.movie-details h2{
    font-size: 1.2rem;
    font-weight: 700;
}
.movie-details p{
    font-weight: 550;
    word-spacing: 0.37rem;
}
.genre{
    color: var(--but-color);
    font-size: 0.88rem;
    font-weight: 600;
    border: 1px solid var(--secbut-color);
    border-radius: 10px;
    height: 1.45rem;
    width: 5rem;
    text-align: center;
    margin-top: 1.5rem
}
.about-movie{
    margin-top: 1.25rem;
}

.movie-summary h3{
    color: var(--pri-color);
    font-size: 1.06rem;
    font-weight: 600;
    margin-right: 5rem;
}
.movie-crewCast{
    margin-top: 1.6rem;
}
.movie-crewCast span{
    margin-top: 0.3rem;
    margin-bottom: 1.2rem;
}
.crew-cast{
    display: flex;
    gap: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--pri-color);
}
.pinkes{
    color: var(--but-color);
}
.nominations{
    display: flex;
    height: 2.8rem;
    border-radius: 9px;
    border: 2px solid var(--sec-color);
    align-items: center;
    font-weight: 600;
    font-size: 0.97rem;
}
.nominations button{
    margin-left: -2px;
    margin-right: 1rem;
    height: 105%;
    width: 11rem;
    background-color: var(--but-color);
    color: var(--bocolor);
    font-weight: 600;
    font-size: 0.95rem;
    border-radius: 9px;
    border: 2px solid var(--but-color);
}
.nominations .i{
    display: grid;
    width: 21.5rem;
}
.nominations i{
    justify-self: end;
}
.others{
    margin-top: 1rem;
}
.rating{
    display: flex;
    margin-top: 0.3rem;
    gap: 0.8rem;
}
.rating img{
    width: 1.6rem;
    height: 1.6rem;
}
.rating span{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}