*{
    box-sizing: border-box;
    --bocolor : #fff;
    --grey :#D1D5DB;
    --pri-color: #111827;
    --sec-color: #9CA3AF;
    --but-color: #be123c;
    font-family: DM sans;
    margin: 0;
    padding: 0;
}
.body{
    background-color: var(--bo);
}
header{
    width: 100%;
    height: 37rem;
}
.movie-banner{
    background-image: url(png/john-wick.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    width: 100%;
    background-color: transparent;
    padding: 1rem 3rem;
}
.logo{
    display: flex;
    justify-content: flex-start;
    width: 25rem;
    align-items: center;
}
.tv-icon{
    width: 2.7rem;
    height: 2.7rem;
}

.tv-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#logotext{
    margin-left: 8px;
}
#logotext h2{
    font-size: 1.2rem;
    color: var(--bocolor);
}
input{
    border: none;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
    padding-left: 8px;
}
input:active{
    border: transparent;

}

.search-box{
    border: 2px solid var(--grey);
    border-radius: 6px;
    display: flex;
    width: 32.7125rem;
    height: 2.3rem;
    padding-right: 8px;
    justify-content: space-between;
    align-items: center;  
    align-self: center;
}

.menu{
    display: flex;
    width: 34rem;
    justify-content: end;
    align-items: center;
}

.menu h3{
    color: var(--bocolor);
    font-size: 1rem;
}

.menu span{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--but-color);
    margin-left: 1rem;
    
}
.menu span svg{
    object-fit: contain;
    text-align: center;
    width: 100%;
    height: 100%;
}

.movie-preview{
    width: 18rem;
    color: var(--bocolor);
    margin-top: 7rem;
    margin-left: 2rem;
}
.movie-preview h1{
    line-height: 2.4rem;
    margin: 1rem 0;
    font-size: 2.6rem;
}
.bookmark{
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;
}
.bookmark span{
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}
.bookmark span img{
    margin-right: 0.6rem;
}
.movie-preview p{
    margin-top: 0.8rem;
    font-size: 13px;
    margin-bottom: 1.5rem;
}

button{
    display: flex;
    justify-content: center;
    background-color: var(--but-color);
    width: 8rem;
    height: 1.8rem;
    border: none;
    border-radius: 8px;
    padding: 5px;
    color: var(--bocolor);
}
button svg {
    padding-right: 5px;
}
section{
    margin: 3rem;
    background-color: transparent;
}
.movie-hotlist{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 2.5rem;
    justify-content: space-between;
}
.movie-hotlist h2{
    justify-self: flex-start;
    font-size: 1.3rem;
    font-weight: 700;
}
.movie-hotlist span{
    display: flex;
    justify-content: end;
}
.movie-collection{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.2rem;
}
.movie-card{
    border: 1px solid #000;
    width: 18.6rem;
    height: 35rem;
}
.movie{
    width: 18.4rem;
    height: 28rem;
    margin-bottom: 0.7rem;
}
.movie img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-card span{
    margin-bottom: 1rem;
}
.location-date p{
    font-size: 0.83rem;
    color: var(--sec-color);
    font-weight: 500;
}
.movie-name h3{
    font-size: 1.3rem;
    color: var(--pri-color);
    font-weight: 700;
    margin-bottom: 1rem;
}
.movie-genre p{
    font-size: 0.83rem;
    color: var(--sec-color);
    font-weight: 500;
}