@media (max-width: 1200px) {
    .movie-card{
        max-width: calc(40%- 0.6rem);
        flex-grow: 1;
    }
}
@media (min-width: 715px) {
    .scroll-in{
        display: none;
    }
}
@media (max-width: 714px){
    body{
        width: auto;
    }
    .play-section{
        padding: 1rem;
    }
    .side-bar{
        /* display: none; */
        width:10rem;
        transform: translateX(-100%);
        z-index: 1;
        transition: transform 0.3s ease;
    }
    .slide-bar.menu-open {
        transform: translateX(0%);
    }
    .tv-icon{
    width: 1.8rem;
    height: 1.8rem;
    }
    #logotext{
        margin-left: 4px;
    }
    #logotext h2{
    font-size: 1rem;
    }
    .seclogo{
        margin-top: 0;
    }
    .main-page{
        width: 100%;
        margin-left: 0;
        margin-top: 0.5rem;
        overflow: hidden;
    }
    .movie-details{
        display: flex;
    }
    /* .movie-title{
        display: block;
        text-align: left;
    } */
}

@media (max-width: 768px) {
    header{
        height: 22rem;
    }
    .movie-banner{
        background-size: cover;
    }
    nav{
        padding: 1rem;
    }
    .logo{
        margin-right: 0.8rem;
    }
    #logotext h2{
        font-size: 1rem;
    }
    .search-box{
        width: 15rem;
        margin-right: 0rem;
        height: 1.8rem;
    }
    .menu{
    display: none;
    }
    .movie-banner-collection{
        padding: 1rem 1rem 3rem 0;
    }
    .movie-preview h1{
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
    section{
        margin: 2rem;
    }
    .nomination{
        width: auto;
    }
    .nominations .i{
        /* display: block; */
    }
    .under{
        display: none;
    }
    .ontop{
        display: flex;
    }
}