*{
    box-sizing: border-box;
    --bocolor : #fff;
    --grey :#D1D5DB;
    --pri-color: #111827;
    --sec-color: #9CA3AF;
    --but-color: #be123c;
    font-family: "DM sans";
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
body{
    background-color: var(--bocolor);
}
header{
    width: 100%;
    height: 37rem;
}
.movie-banner{
    background-color: #111827;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    image-rendering: pixelated;
    background-position: center top bottom;
    width: 100%;
    height: 100%;
    transition: 1s background-image linear;
}

nav{
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: space-around;
    padding: 1rem 3rem;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tv-icon{
    width: 2.2rem;
    height: 2.2rem;
}

.tv-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#logotext{
    margin-left: 8px;
}
#logotext h2{
    font-size: 1.2rem;
    color: var(--bocolor);
}
input{
    border: none;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
    padding-left: 8px;
}
input:active{
    border: transparent;

}

.search-box{
    border: 2px solid var(--grey);
    border-radius: 6px;
    display: flex;
    width: 33rem;
    height: 2.3rem;
    padding-right: 8px;
    justify-content: space-between;
    align-items: center;  
    align-self: center;
}

.menu{
    display: flex;
    align-items: center;
}

.menu h3{
    color: var(--bocolor);
    font-size: 1rem;
}

.menu span{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--but-color);
    margin-left: 1rem;
    
}
.menu span svg{
    object-fit: contain;
    text-align: center;
    width: 100%;
    height: 100%;
}

.movie-banner-collection{
    display: flex;
    justify-content: space-between;
    padding: 7em 1rem 4rem 0;
}

.movie-preview{
    width: 18rem;
    color: var(--bocolor);
    margin-left: 2rem;
}
.movie-preview h1{
    line-height: 2.4rem;
    margin: 1rem 0;
    font-size: 2.6rem;
    transition: ease-in-out .9s;
}
.bookmark{
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;
}
.bookmark span{
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    color: var(--grey);
    font-weight: 500;
    font-size: 1rem;
}
.bookmark span img{
    margin-right: 0.5rem;
}
.movie-preview p{
    margin-top: 0.8rem;
    font-size: 13px;
    margin-bottom: 1.5rem;
    transition: ease-in-out .9s;
}
.play-trailer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--but-color);
    width: 8.2rem;
    height: 1.8rem;
    gap: 0.3rem;
    color: var(--grey);
    font-size: 0.8rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.banner-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nnumber-change span{
    margin: 0.6rem;
}
.nnumber-change input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    font-size: 1rem;
    width: 1rem;
    height: 0.7rem;
    font-style: none;
}

.nnumber-change input:checked~label{
    color: var(--grey);
    font-size: 1.1rem;
    font-weight: 650;
}

.active-checkbox {
    border: 2px solid #fff;
}

.nnumber-change label{
    color: var(--sec-color);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
section{
    margin: 3rem;
    background-color: transparent;
}
.movie-hotlist{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 2.5rem;
    justify-content: space-between;
}
.movie-hotlist h2{
    justify-self: flex-start;
    font-size: 1.3rem;
    font-weight: 700;
}
.movie-hotlist span{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.4rem;
    color: var(--but-color);
    font-weight: 500;
    font-size: 1rem;
}
.movie-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* gap: 2rem; */
    margin: 2rem 0;
}
.movie-card{
    flex: 1;
    max-width: calc(17.2rem - 0.6rem);
    width: calc(110.2rem - 0.6rem);
    height: 37rem;
    cursor: pointer;
    margin: 0.9rem;
}
.movie{
    width: 17.1rem;
    height: 26rem;
    margin-bottom: 0.7rem;
}
.movie img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.location-date{
    margin: 1.2rem 0;
}
.location-date p{
    font-size: 0.83rem;
    color: var(--sec-color);
    font-weight: 500;
}
.movie-name{
    margin: 1rem 0;
}
.movie-name h3{
    font-size: 1.3rem;
    color: var(--pri-color);
    font-weight: 700;
    margin-bottom: 1rem;
}
.movie-card .bookmark{
    margin: 0.7rem 0;
    justify-content: space-between;
}
.movie-card .bookmark span{
    color: var(--pri-color);
}
.movie-card .bookmark #tomato{
    display: contents;
}
.movie-genre{
    margin: 1rem 0;
}
.movie-genre p{
    font-size: 0.83rem;
    color: var(--sec-color);
    font-weight: 500;
}

.last-sec{
    display: grid;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.last-sec div{
    margin: 0.5rem 0;
}
.icons i{
    padding: 0 0.753rem;
    font-size: 1.2rem;
    color: var(--pri-color);
}
.prefare{
    display: flex;
    gap: 1.3rem;
}
.prefare div{
    width: 140px;
}
.prefare span h3{
    font-size: 1rem;
    color: var(--pri-color);
}
.credits p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--pri-color);
}
.footer{
    margin-top: 4rem;
}